@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --brand-alpha-medium: rgba(255, 215, 85, 0.67);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.animation {
  position: relative;
  overflow: hidden;
}

.animation::before {
  content: '';
  opacity: 0;
  border-radius: var(--radius-full);
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 20%,
    var(--brand-alpha-medium) 50%,
    transparent 80%
  );
  transform: skewX(-20deg);
  animation: shineDefault 9s ease-in-out infinite;
  z-index: 1;
}

.animation:hover::before {
  animation: shineHover 3s ease-in-out infinite;
}

@keyframes shineDefault {
  0% {
    left: -100%;
  }
  1% {
    left: -100%;
    opacity: 1;
  }
  15% {
    left: 100%;
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes shineHover {
  0% {
    left: -100%;
  }
  1% {
    left: -100%;
    opacity: 1;
  }
  45% {
    left: 100%;
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  100% {
    left: -100%;
  }
}
